/* Reset CSS (JANGAN DIHAPUS) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  width: auto;
  font-family: "Lucida Grande";
  background: url(https://prog-8.com/images/html/advanced/top_en.png)no-repeat center center fixed; 
  background-size: cover;
  color:white;
  text-decoration: none;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
*{
  box-sizing: border-box;
}

.main-title{
  margin-top: 180px;
  font-size: 30px;
  letter-spacing: 5px;
}
.main-desc{
  margin-top: 10px;
  opacity: 0.8;
  margin-bottom:50px;
}
.main-desc p{
  margin-bottom:10px;
  opacity: 0.7;
}
.btn-register a{
  margin: 0px auto;
  opacity: 0.8;
  border-radius: 8px;
  color:white;
  padding: 25px;
}
.btn-register-email{
  border: 1px solid #239b76;
  background-color: #239b76;
}
.btn-register-facebook{
  border: 1px solid #3b5998;
  background-color: #3b5998;
  
}
.btn-register-twitter{
  border: 1px solid #55acee;
  background-color: #55acee;
}
.main-container a:hover{
  opacity: 1;
}
.or{
  margin-top:50px;
  margin-bottom:50px;
}
.main-subContainer{
  display: flex;
  width: 560px;
  justify-content: space-evenly;
  margin: 0px auto;
}
.header-container{
  z-index: 5;
  position: fixed;
  background-color: rgba(34, 49, 52, 0.9);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  height: 65px;
  width: 100%;
}
.header-logo img{
  margin-top: 5px;
  width: 124px;
}
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* Gantikan property display ke none */
  display: none; 
}
.header-nav-login p{
  background-color: rgba(255, 255, 255, 0.3);
  padding: 22.6px;
  color: white;
  margin-right: 25px;
  width: 100px;
}
.header-nav-login p:hover{
  background-color: white;
  opacity: 0.5;
  color: rgba(34, 49, 52, 0.9);
  transition: all 0.5s;
}
.section-container{
  margin-top: 150px;
  height: 580px;
  background-color: #f7f7f7 ;
  bottom: 0px;
  padding-top: 60px;
  width: auto;
}
.section-item-container{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.section-container p{
  color:#b3aeb5;
}
.section-item-container img{
  position: relative;
}
figcaption{
  position: absolute;
  color: white;
  margin-top: -110px;
  margin-left: 90px;
}
.section-item-html-figure figcaption{
  margin-left: 65px;
}
.section-title h2{
  color: #5f5d60;
  margin-bottom: 50px;
}
.message-container{
  padding-top: 60px;
  padding-bottom: 80px;
  height: auto;
  background-color: white;
}
.message-container h2,h3{
  color: #5f5d60;
  width: auto;
}
.message-container h3{
  margin-bottom:50px;
}
.message-nav-btnStart{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #5dca88;
  background-color: #5dca88;
  opacity: 0.8;
  color: white;
  border-radius: 8px;
  box-shadow: 0 7px #1a7940;
}
.message-nav-btnStart{
  margin-top: 50px;
  margin-bottom: 50px;
}
.message-nav-btnStart:hover{
  opacity: 1;
}
.message-nav-btnStart:active{
  box-shadow: none;
  margin-top: 40px;
  
}
.message-nav:active{
  margin-top: 55px;
}
.footer-container{
  border: 1px solid #eee;
  background-color: white;
  display: flex;
  padding-bottom: 10px;
}
.footer-container img{
  width: 150px;
}
.footer-img figcaption{
  color: #b3aeb5;
  font-size: 10px;
}
.footer-figcaption{
  margin-top:-6px;
  margin-left: 2px;
}